/* @tailwind base;
@tailwind components;
@tailwind utilities;   */

body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 90vh;
}
a{
     text-decoration: none;
     color: black;
}
.login-box {
     box-shadow: 5px 5px 3px #888888;
     text-align: center;
     padding: 2rem 4rem 3rem 4rem;
     border: 1px solid;
     border-radius: 10px;
     height: fit-content;
     width: fit-content;
     background-color: #fff;
}
.input-box{
     line-height: 1.5rem;
     text-align: start;
}
.input-box .forget_btn{
     text-align: center;
     margin-bottom: 0.5rem;
     width: 100%;
}
.input-box input{
     width: 95%;
     height: 1.75rem;
     margin: 0.5rem 0;
     padding-left: 0.5rem;
     border-radius: 5px solid gray;
}
.input-box button{
     margin: 1rem 0;
     width: 100%;
     font-size: 1rem;
     padding: 0.45rem 1rem;
     background-color: #00A84F;
     border: 0px;
     border-radius: 10px;
     color: #fff;
}