body{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 90vh;
     /* background-color: #888888; */
}
a{
     text-decoration: none;
     color: black;
}
.forget-password-box {
     width: 20rem;
     position: relative;
     box-shadow: 5px 5px 3px #888888;
     text-align: center;
     padding: 5rem 2rem 2rem 2rem;
     border: 1px solid;
     border-radius: 10px;
     background-color: #fff;
}
.forget-password-box .box-1{
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     text-align: start;
     padding-left: 1rem;
     color:#fff;
     background-color: #333;
     border-radius: 10px 10px 0 0;
}
.forget-password-box .box-2{
     /* margin-top: 1rem; */
     line-height: 1.5rem;
     text-align: start;
     width: 100%;
}
.forget-password-box .input-box form input{
     width: 95%;
     margin: 0.5rem 0;
     height: 1.75rem;
     padding-left: 0.5rem;
     border-radius: 5px solid gray;
}
.forget-password-box .input-box .btn-box{
     text-align: end;
     margin-top: 0.5rem;
}
.forget-password-box .input-box form .btn-box button{
     padding: 0.45rem 1rem;
     font-size: 1rem;
     background-color: #00A84F;
     border: 0;
     border-radius: 5px;
     color: #fff;
}
.forget-password-box .input-box form .btn-box a{
     font-size: 1rem;
     margin-left: 0.5rem;
     padding: 0.5rem 1rem;
     color:black;
     background-color: #D9D9D9;
     border-radius: 5px;
}